    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <p>Based at Magnus Gateway, EZ Aquarii for its central location to major landmarks within the bubble and close proximity to Sol. Redshift Logistics is at the centre of space advancement.</p>
                <p>Here at Redshift, we pride ourselves on being an independent company capable of tackling all areas of intergalactic business. From Mining to Trading, Bounty Hunting to Security Contracting. We are the one stop shop for all your needs.</p>
                <p>We're not afraid of getting our hands dirty when required. Got some sensitive cargo that needs delivering? Need us to talk to a competitor?</p> 
                <p>We do whatever is required to get the job done.</p>
                <p>We are an Xbox One PvE focused private player group and squadron. We incorporate elements of roleplay and are more than happy to employ commanders of all skill levels.</p>
            </div>
        </div>
    </section>
