    <!-- About Section -->
    <section id="about" class="content-section text-center">
        <div class="about">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                  <h2>About</h2>
                  <p>Based at Dobrovolskiy Enterprise, WISE 1506+7027 for its central location to major landmarks within the bubble and close proximity to Sol. Redshift Logistics is at the centre of space advancement.</p>
                  <p>Here at Redshift, we pride ourselves on being an independent company capable of tackling all areas of business. From Mining to Trading, Bounty Hunting to Security Contracting, we are the one stop shop for all your needs.</p>
                  <p>We are an Xbox One PvE focused private player group with a squadron and play minor faction representing us in game. We incorporate elements of roleplay and are more than happy to employ commanders of all skill levels.</p>
                </div>
            </div>
        </div>
    </section>
