    <!-- Mining Section -->
    <section id="mining" class="content-section text-center">
        <div class="mining">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Mining</h2>
                    <p>Our mining fleet is responsible for prospecting systems for resources and extracting them to market.</p>
                    <p>We are experts at resource extraction, be it painite extraction or splitting an asteroid for void opals.
                </div>
            </div>
        </div>
    </section>
